<!DOCTYPE html>
<html>
  <head>
    <title>PDF Verse - Watermark PDF online</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/css/jquery.fileupload.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/10.7.0/js/jquery.fileupload.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/merger.css">  </head>
  <body>


    <div class="container main-container" style="width: 90%;">
      <div class="row">

        <div class="col-lg-8">
          <div class="pb-3">
           <div class="card">
               <div class="card-body">

      <h1 class="text-center mt-5 font-weight-bold pt-4 heading-main">Beri Nomor Halaman</h1>
      <h5 class="text-center mt-3 font-weight-bold heading-main">Tambah nomor halaman PDF pilih posisi dan huruf.</h5>
      <div class="row justify-content-center mt-5">
        <div class="col-md-10 text-center">
          <form method="POST" action="/add-page-number" enctype="multipart/form-data" id="pdf-dropzone">
            <div class="fallback">
              <div class="custom-file-upload custom-file-upload-color-1" id="pdf-dropzone">
                <img src="/images/pdf.png" alt="" srcset="" width="72" height="72">
                <label for="pdfs">Upload PDF</label>
                <input type="file" name="pdfFile" id="pdfs" accept=".pdf" required class="form-control-file">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-md-6">
                
                <div class="form-group">
                  <label for="fontFamily">Tentukan posisi nomor halaman:</label>
                  <select name="format" class="form-control">
                    <option value="bottom-right">Kanan Bawah</option>
                    <option value="bottom-middle">Bawah Tengah</option>
                    <option value="bottom-left">Kiri Bawah</option>
                    <option value="top-right">Kanan Atas</option>
                    <option value="top-middle">Atas Tengah</option>
                    <option value="top-left">Kiri Atas</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="size">Pilih Ukuran huruf:</label>
                  <select name="size" id="size" class="form-control">
                    <option value="small">Kecil</option>
                    <option value="medium">Sedang</option>
                    <option value="large">Gede</option>
                  </select>
                </div>
              </div>
            </div>
            
            <input type="submit" value="Download PDF" class="btn-lg common-btn pl-5 pr-5 mb-5 mt-5">
          </form>
          <div class="container">
            <div class="pdfhead mt-4 text-center mb-3"></div>
            <ul id="pdf-list" class="list-group mb-4"></ul>
            <div class="row">
            </div>
          </div>
        </div>
      </div>


          </div>
          </div>
          </div>
          </div>
      <%- include('includes/sidebars.ejs') %>
      </div>
    </div>

    

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="/js/pageno.js"></script>
  </body>
</html>
